.table-container {
    &__head {
        display: flex;
        flex-direction: row;
        font-weight: bold;
        background-color: $grey;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        font-size: $table-title;
        div {
            width: 22%;
            padding: 6px 10px;
            &:first-of-type {
                width: 12%;
            }
        }
    }
    &__content {
        &__row{
            display: flex;
            flex-direction: row;
            margin: 5px 0;
            div {
                width: 22%;
                padding: 5px 10px;
                border-bottom: solid $grey 1px;
                &:first-of-type {
                    width: 12%;
                }
            }
        }
    }
}